NODE_ENV=development
PORT=5000
DATABASE_URL="postgresql://postgres:CHANGE_ME@localhost:5432/hindustanemb_db?schema=public"
DIRECT_URL="postgresql://postgres:CHANGE_ME@localhost:5432/hindustanemb_db?schema=public"
CORS_ORIGIN="http://localhost:3000"
LOG_LEVEL=info
ADMIN_EMAIL="admin@hindustanembroidery.com"

# Cloudinary Integration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
