@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400&family=Manrope:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-headline: "Noto Serif", serif;
  --font-body: "Manrope", sans-serif;

  --color-primary: #570013;
  --color-primary-container: #800020;
  --color-on-primary: #ffffff;
  
  --color-secondary: #456552;
  --color-secondary-container: #c6ebd3;
  
  --color-tertiary: #735c00;
  --color-on-tertiary: #ffffff;
  --color-tertiary-fixed: #ffe088;
  --color-tertiary-container: #cca730;
  
  --color-surface: #faf9f6;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f4f3f1;
  --color-surface-container: #efeeeb;
  --color-surface-container-high: #e9e8e5;
  --color-surface-container-highest: #e3e2e0;
  
  --color-on-surface: #1a1c1a;
  --color-on-surface-variant: #584141;
  
  --color-outline: #8c7071;
  --color-outline-variant: #e0bfbf;
}

@layer base {
  body {
    @apply bg-surface text-on-surface font-body antialiased;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}

.editorial-shadow {
  box-shadow: 0 20px 40px -15px rgba(26, 28, 26, 0.06);
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 40s linear infinite;
}
